<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= fontBaseName %></title>
    <style>
    body {
      margin:0;
      padding:10px 20px;
      background:#fff;
      color:#444;
      font-family:"Helvetica Neue", Arial, sans-serif;
      }
    h1 {
      margin:0 0 50px;
      font-size:50px;
      font-weight:normal;
      }
    .icons {
      padding: 0;
      margin: 0;
      font-size: 27px;
      margin-bottom: 50px;
      float:left;
    }
    .icons li {
      padding: .5rem 0;
      list-style: none;
      width: 50%;
      float: left;
    }
    .icon {
      width: 3rem;
    }
    footer {
      margin-top:40px;
      font-size:14px;
      color:#999;
      }
    <%= styles %>
    </style>
  </head>
  <body>
    <h1><%= fontBaseName %></h1>
    <ul class="icons">
      <% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { var glyph = glyphs[glyphIdx] %>
        <li data-name="<%= glyph %>"><i class="<%= baseClass %> <%= classPrefix %><%= glyph %>"></i> <%= classPrefix %><%= glyph %></li>
      <% } %>
    </ul>
    <% if (addLigatures) { %>
    <div class="ligature-icons" style="display:none">
      <% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { var glyph = glyphs[glyphIdx]; %>
        <%= glyph %>
      <% } %>
    </div>
    <% } %>
    <h1>Usage</h1>
    <pre><code>&lt;span class=&quot;<%= baseClass ? baseClass + ' ' : '' %><%= classPrefix %><span id="name">name</span>&quot;&gt;&lt;span&gt;</code></pre>
    <% if (addLigatures) { %>
    <pre><code>&lt;span class=&quot;ligature-icons&quot;&gt;<span id="name2">name</span>&lt;/span&gt;</code></pre>
    <% } %>
    <script>
    (function() {
      document.getElementById('icons').onclick = function(e) {
        e = e || window.event;
        var name = e.target.getAttribute('data-name') || e.target.parentNode.getAttribute('data-name');
        document.getElementById('name').innerHTML = name;
        document.getElementById('name2').innerHTML = name;
      }
    })();
    </script>
  </body>
</html>